body {background-color: #c6e5ff;}

table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
}
th {
    height: 50px;
    background-color: navy;
    color: white;
}
th, td {
    padding: 5px;
    text-align: center;
    vertical-align: center;
}

input{
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin-bottom:5px;
}
.test {
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin-bottom:5px;
}
h1 {
    text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2;}
